img {
  width: 100%;
  max-width: 100%;
}
.singleProduct {
  display: inline-block;
  height: 400px;
  width: 300px;
  text-align: center;
}

#topHeader{
  background-color: cadetblue;
  text-align: center;
}
#filterForm{
  display: inline-block;
  width: 25%;
  min-width: 250px;
  vertical-align: top;
}

.productArea{
  display: inline-block;
  width: 75%;
  height: 800px;
  /* overflow: hidden; */
  overflow:scroll
}

body{
  margin: 2%;
}